*{
    padding: 0;
    margin: 0;

}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
    
}


.container__conteudo{
    width: 615px;
    height: 482px; 

}



body{
    height: 100vh;
background-color: black;
color: #f6f6f6;
}

.forte{
color: aqua;
}


.titulozao_fonteT{
    font-size: 36px;
    font-family: 'Krona One', sans-serif; 
}


.paragrafo_fonteP{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}

.foto{
    height: 400px;
    padding-bottom: 100px;
}

.links{
    display: flex;
    justify-content: space-between;
}

.butao{
    background-color: aqua;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}